button {
  cursor: pointer;
  border: 0;
  font: 0/0 a;
  width: 240px;
  height: 240px;
  text-shadow: none;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#toggle {
  background-image: url(..//icons/pause.svg);
}